# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
!obj/tests/cube.obj
!obj/tests/SanityCube.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*build*/
build-meta

# Python
/.venv*

# ide folder
.vscode/*
.idea

# Generated documentation
docs

# Gemerated install
bin

# Generated testing
Testing
test/output
test/__pycache__/
*_usdchecked.usd
*_usdchecked.usda
*_baseline_images.zip
*-latest.zip
*usd_location/
