# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
!obj/tests/cube.obj
!obj/tests/SanityCube.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*build*/
build-meta

# Python
/.venv*

# ide folder
.vscode/*
.idea

# Generated documentation
docs
Testing
bin
test/__pycache__
test/output
test/assets/fbx/*.usd
test/assets/gltf/*.usd
test/assets/obj/*/*.usd
test/assets/ply/*.usd
test/assets/stl/*.usd

# Other
.DS_Store
